.input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 20px;
  background-color: var(--tertiary-1);
  border-radius: 20px;
  color: var(--font-color-active);
  box-shadow: var(--shadow-1);
}

.input input::placeholder {
  color: var(--font-color);
  opacity: 1; /* Firefox */
}

.input button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--tertiary-2);
  cursor: pointer;
  color: var(--font-color-active);
  border: 1px solid #22718a;
  transition: all 0.2s ease-in;
}

.input button:hover {
  background-color: var(--tertiary-1);
}
