.input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 20px;
  background-color: var(--tertiary-1);
  border-radius: 20px;
  color: var(--font-color-active);
  transition: all 0.2s ease-in;
}

.input input:focus {
  background-color: var(--tertiary-2);
}

.input input::placeholder {
  color: var(--font-color);
  opacity: 1;
}

.input button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--tertiary-1);
  cursor: pointer;
  color: #d1d1d1;
  border: 1px solid #22718a;
  transition: all 0.2s ease-in;
}

/* .input button:disabled {
  background-color: grey;
  cursor: not-allowed;
} */

.input button:hover {
  background-color: var(--tertiary-2);
}
